hybrid-demo/nifi-flow/NiFi_Flow.json
{
  "flowContents": {
    "identifier": "9a3b49ac-a853-3b4e-b550-2a9007ee1b8d",
    "name": "NiFi Flow",
    "comments": "",
    "position": {
      "x": 0,
      "y": 0
    },
    "processGroups": [
      {
        "identifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
        "name": "Covid Cases Data",
        "comments": "",
        "position": {
          "x": 728,
          "y": 96
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "448c528e-5347-3b66-9009-49e5d5ba4297",
            "name": "Send Create Materialized View",
            "comments": "",
            "position": {
              "x": 1584,
              "y": 600
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "use worldwidebank;\nCREATE MATERIALIZED VIEW worldwidebank.employees_and_cases_per_state as (select locations.stname as state, employees_per_state.num_employees, sum(covid_cases.confirmed) as confirmed_cases from locations, employees_per_state,  covid_cases where employees_per_state.STNAME = locations.STNAME  and covid_cases.province_state = locations.stname  and employees_per_state.STNAME = covid_cases.province_state group by locations.stname, employees_per_state.num_employees);",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Regex Replace"
            },
            "propertyDescriptors": {
              "Regular Expression": {
                "name": "Regular Expression",
                "displayName": "Search Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Value": {
                "name": "Replacement Value",
                "displayName": "Replacement Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Evaluation Mode": {
                "name": "Evaluation Mode",
                "displayName": "Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Line-by-Line Evaluation Mode": {
                "name": "Line-by-Line Evaluation Mode",
                "displayName": "Line-by-Line Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Character Set": {
                "name": "Character Set",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Maximum Buffer Size": {
                "name": "Maximum Buffer Size",
                "displayName": "Maximum Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Strategy": {
                "name": "Replacement Strategy",
                "displayName": "Replacement Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "50e39121-c6cd-3703-9ce1-91997f0caee2",
            "name": "Drop tables",
            "comments": "",
            "position": {
              "x": 664,
              "y": -24
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hive.PutHive3QL",
            "properties": {
              "statement-delimiter": ";",
              "hive3-dbcp-service": "40bdd0ee-d071-3096-8344-f9727c219194",
              "hive3-query-timeout": "0",
              "hive3-charset": "UTF-8",
              "rollback-on-failure": "false",
              "hive-batch-size": "100"
            },
            "propertyDescriptors": {
              "statement-delimiter": {
                "name": "statement-delimiter",
                "displayName": "Statement Delimiter",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-dbcp-service": {
                "name": "hive3-dbcp-service",
                "displayName": "Hive Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "hive3-query-timeout": {
                "name": "hive3-query-timeout",
                "displayName": "Query timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-charset": {
                "name": "hive3-charset",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-batch-size": {
                "name": "hive-batch-size",
                "displayName": "Batch Size",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure",
              "retry"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "c125d38f-bf9c-3e9e-8aa1-899fc14c3b09",
            "name": "Set filename",
            "comments": "",
            "position": {
              "x": 168,
              "y": 296
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "properties": {
              "Delete Attributes Expression": null,
              "filename": "covid_cases.csv",
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "filename": {
                "name": "filename",
                "displayName": "filename",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "ce4311e4-e247-376f-af00-fe52c3bb731f",
            "name": "Send Drop Tables",
            "comments": "",
            "position": {
              "x": 664,
              "y": 600
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "drop TABLE if exists worldwidebank.covid_cases_ext;\ndrop TABLE if exists worldwidebank.covid_cases;\ndrop MATERIALIZED VIEW if exists worldwidebank.employees_and_cases_per_state;",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Regex Replace"
            },
            "propertyDescriptors": {
              "Regular Expression": {
                "name": "Regular Expression",
                "displayName": "Search Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Value": {
                "name": "Replacement Value",
                "displayName": "Replacement Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Evaluation Mode": {
                "name": "Evaluation Mode",
                "displayName": "Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Line-by-Line Evaluation Mode": {
                "name": "Line-by-Line Evaluation Mode",
                "displayName": "Line-by-Line Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Character Set": {
                "name": "Character Set",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Maximum Buffer Size": {
                "name": "Maximum Buffer Size",
                "displayName": "Maximum Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Strategy": {
                "name": "Replacement Strategy",
                "displayName": "Replacement Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "1005ab67-859b-325a-9680-0e095cc4a16f",
            "name": "Get Covid CSV data",
            "comments": "",
            "position": {
              "x": 176,
              "y": -8
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/${now():toNumber():minus(86400000):format('MM-dd-yyyy')}.csv",
              "Content-Type": "${mime.type}",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "GET",
              "Add Response Headers to Request": "false",
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false"
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Attributes to Send",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Use HTTP ETag",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Basic Authentication Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Connection Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Send Message Body",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Always Output Response",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Maximum ETag Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Put Response Body In Attribute",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Use Chunked Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Follow Redirects",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "Remote URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Max Length To Put In Attribute",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Ignore response's content",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Use Digest Authentication",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Add Response Headers to Request",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Basic Authentication Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Include Date Header",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Penalize on \"No Retry\"",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "24 hours",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "PRIMARY",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "9584fe68-6bda-3228-848a-55314bfa2f7e",
            "name": "Create external table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": 168
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hive.PutHive3QL",
            "properties": {
              "statement-delimiter": ";",
              "hive3-dbcp-service": "40bdd0ee-d071-3096-8344-f9727c219194",
              "hive3-query-timeout": "0",
              "hive3-charset": "UTF-8",
              "rollback-on-failure": "false",
              "hive-batch-size": "100"
            },
            "propertyDescriptors": {
              "statement-delimiter": {
                "name": "statement-delimiter",
                "displayName": "Statement Delimiter",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-dbcp-service": {
                "name": "hive3-dbcp-service",
                "displayName": "Hive Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "hive3-query-timeout": {
                "name": "hive3-query-timeout",
                "displayName": "Query timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-charset": {
                "name": "hive3-charset",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-batch-size": {
                "name": "hive-batch-size",
                "displayName": "Batch Size",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure",
              "retry"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "074cbd68-7315-36ba-b491-1cc7b9fa4401",
            "name": "Create Materialized View",
            "comments": "",
            "position": {
              "x": 1592,
              "y": 352
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hive.PutHive3QL",
            "properties": {
              "statement-delimiter": ";",
              "hive3-dbcp-service": "40bdd0ee-d071-3096-8344-f9727c219194",
              "hive3-query-timeout": "0",
              "hive3-charset": "UTF-8",
              "rollback-on-failure": "false",
              "hive-batch-size": "100"
            },
            "propertyDescriptors": {
              "statement-delimiter": {
                "name": "statement-delimiter",
                "displayName": "Statement Delimiter",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-dbcp-service": {
                "name": "hive3-dbcp-service",
                "displayName": "Hive Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "hive3-query-timeout": {
                "name": "hive3-query-timeout",
                "displayName": "Query timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-charset": {
                "name": "hive3-charset",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-batch-size": {
                "name": "hive-batch-size",
                "displayName": "Batch Size",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "success",
              "failure",
              "retry"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "ea691354-7c66-339d-b517-668b49d9a5b3",
            "name": "Send Create Managed Table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": 368
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "create table worldwidebank.covid_cases as select * from worldwidebank.covid_cases_ext;",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Regex Replace"
            },
            "propertyDescriptors": {
              "Regular Expression": {
                "name": "Regular Expression",
                "displayName": "Search Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Value": {
                "name": "Replacement Value",
                "displayName": "Replacement Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Evaluation Mode": {
                "name": "Evaluation Mode",
                "displayName": "Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Line-by-Line Evaluation Mode": {
                "name": "Line-by-Line Evaluation Mode",
                "displayName": "Line-by-Line Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Character Set": {
                "name": "Character Set",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Maximum Buffer Size": {
                "name": "Maximum Buffer Size",
                "displayName": "Maximum Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Strategy": {
                "name": "Replacement Strategy",
                "displayName": "Replacement Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "4c8e3add-7ee6-3274-a3e1-20743a4e6350",
            "name": "Create Managed Table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": 600
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hive.PutHive3QL",
            "properties": {
              "statement-delimiter": ";",
              "hive3-dbcp-service": "40bdd0ee-d071-3096-8344-f9727c219194",
              "hive3-query-timeout": "0",
              "hive3-charset": "UTF-8",
              "rollback-on-failure": "false",
              "hive-batch-size": "100"
            },
            "propertyDescriptors": {
              "statement-delimiter": {
                "name": "statement-delimiter",
                "displayName": "Statement Delimiter",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-dbcp-service": {
                "name": "hive3-dbcp-service",
                "displayName": "Hive Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "hive3-query-timeout": {
                "name": "hive3-query-timeout",
                "displayName": "Query timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-charset": {
                "name": "hive3-charset",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-batch-size": {
                "name": "hive-batch-size",
                "displayName": "Batch Size",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure",
              "retry"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "9ebf5a92-77b7-3306-b4a0-a14a730d4e89",
            "name": "Send Create External Table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": -24
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "CREATE EXTERNAL TABLE if not exists worldwidebank.covid_cases_ext(\n    FIPS int,\n    Admin2 string,\n    Province_State string,\n    Country_Region string,\n    Last_Update string,\n    Lat string,\n    Long_  string,\n    Confirmed  string,\n    Deaths  string,\n    Recovered  string,\n    Active  string,\n    Combined_Key  string)\nROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'\n\nWITH SERDEPROPERTIES (\n   \"separatorChar\" = \"\\\\,\",\n   \"quoteChar\"     = \"\\\\\"\"\n)\nSTORED AS TEXTFILE\nLOCATION 's3a://pvi-e2e-cdp-bucket/raw/covid_cases/'\ntblproperties(\"skip.header.line.count\"=\"1\");\n\n",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Regex Replace"
            },
            "propertyDescriptors": {
              "Regular Expression": {
                "name": "Regular Expression",
                "displayName": "Search Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Value": {
                "name": "Replacement Value",
                "displayName": "Replacement Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Evaluation Mode": {
                "name": "Evaluation Mode",
                "displayName": "Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Line-by-Line Evaluation Mode": {
                "name": "Line-by-Line Evaluation Mode",
                "displayName": "Line-by-Line Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Character Set": {
                "name": "Character Set",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Maximum Buffer Size": {
                "name": "Maximum Buffer Size",
                "displayName": "Maximum Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Strategy": {
                "name": "Replacement Strategy",
                "displayName": "Replacement Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "88c3b8d2-7ea5-32f3-bb69-093f73bb8147",
            "name": "PutHDFS",
            "comments": "",
            "position": {
              "x": 168,
              "y": 600
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hadoop-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hadoop.PutHDFS",
            "properties": {
              "Permissions umask": null,
              "Hadoop Configuration Resources": "/etc/hadoop/conf.cloudera.core_settings/core-site.xml",
              "Remote Owner": null,
              "Additional Classpath Resources": null,
              "Compression codec": "NONE",
              "IO Buffer Size": null,
              "Remote Group": null,
              "Block Size": null,
              "kerberos-credentials-service": null,
              "Kerberos Keytab": null,
              "Ignore Locality": "false",
              "Kerberos Principal": "pvidal",
              "Replication": null,
              "Kerberos Relogin Period": "4 hours",
              "Directory": "s3a://pvi-e2e-cdp-bucket/raw/covid_cases/",
              "Conflict Resolution Strategy": "replace"
            },
            "propertyDescriptors": {
              "Permissions umask": {
                "name": "Permissions umask",
                "displayName": "Permissions umask",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Hadoop Configuration Resources": {
                "name": "Hadoop Configuration Resources",
                "displayName": "Hadoop Configuration Resources",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote Owner": {
                "name": "Remote Owner",
                "displayName": "Remote Owner",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Additional Classpath Resources": {
                "name": "Additional Classpath Resources",
                "displayName": "Additional Classpath Resources",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Compression codec": {
                "name": "Compression codec",
                "displayName": "Compression codec",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "IO Buffer Size": {
                "name": "IO Buffer Size",
                "displayName": "IO Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote Group": {
                "name": "Remote Group",
                "displayName": "Remote Group",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Block Size": {
                "name": "Block Size",
                "displayName": "Block Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "kerberos-credentials-service": {
                "name": "kerberos-credentials-service",
                "displayName": "Kerberos Credentials Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Kerberos Password": {
                "name": "Kerberos Password",
                "displayName": "Kerberos Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "Kerberos Keytab": {
                "name": "Kerberos Keytab",
                "displayName": "Kerberos Keytab",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Ignore Locality": {
                "name": "Ignore Locality",
                "displayName": "Ignore Locality",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Principal": {
                "name": "Kerberos Principal",
                "displayName": "Kerberos Principal",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replication": {
                "name": "Replication",
                "displayName": "Replication",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Relogin Period": {
                "name": "Kerberos Relogin Period",
                "displayName": "Kerberos Relogin Period",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Directory": {
                "name": "Directory",
                "displayName": "Directory",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Conflict Resolution Strategy": {
                "name": "Conflict Resolution Strategy",
                "displayName": "Conflict Resolution Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "5e6f86e3-4209-3988-88b4-413c5b370226",
            "name": "",
            "source": {
              "id": "ea691354-7c66-339d-b517-668b49d9a5b3",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Create Managed Table",
              "comments": ""
            },
            "destination": {
              "id": "4c8e3add-7ee6-3274-a3e1-20743a4e6350",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Create Managed Table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "47fb9a99-5509-3ed9-b021-f4b4904bff00",
            "name": "",
            "source": {
              "id": "88c3b8d2-7ea5-32f3-bb69-093f73bb8147",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "PutHDFS",
              "comments": ""
            },
            "destination": {
              "id": "ce4311e4-e247-376f-af00-fe52c3bb731f",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Drop Tables",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "40973c05-cbd9-3bd2-9f4c-5cc53e16adb4",
            "name": "",
            "source": {
              "id": "ce4311e4-e247-376f-af00-fe52c3bb731f",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Drop Tables",
              "comments": ""
            },
            "destination": {
              "id": "50e39121-c6cd-3703-9ce1-91997f0caee2",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Drop tables",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "4be301df-06a2-347f-a58a-e9fb81f56c7b",
            "name": "",
            "source": {
              "id": "9ebf5a92-77b7-3306-b4a0-a14a730d4e89",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Create External Table",
              "comments": ""
            },
            "destination": {
              "id": "9584fe68-6bda-3228-848a-55314bfa2f7e",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Create external table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "c92a7c35-9f61-3dd5-b78e-5e4bdbf432bb",
            "name": "",
            "source": {
              "id": "1005ab67-859b-325a-9680-0e095cc4a16f",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Get Covid CSV data",
              "comments": ""
            },
            "destination": {
              "id": "c125d38f-bf9c-3e9e-8aa1-899fc14c3b09",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Set filename",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "Response"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "24346939-289a-372f-9c9e-b3e00f97d694",
            "name": "",
            "source": {
              "id": "448c528e-5347-3b66-9009-49e5d5ba4297",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Create Materialized View",
              "comments": ""
            },
            "destination": {
              "id": "074cbd68-7315-36ba-b491-1cc7b9fa4401",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Create Materialized View",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "7b484a60-9118-314c-8713-a91b8e2b3242",
            "name": "",
            "source": {
              "id": "4c8e3add-7ee6-3274-a3e1-20743a4e6350",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Create Managed Table",
              "comments": ""
            },
            "destination": {
              "id": "448c528e-5347-3b66-9009-49e5d5ba4297",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Create Materialized View",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "2002eea9-14f0-39c2-a6c1-f1128f08a66a",
            "name": "",
            "source": {
              "id": "c125d38f-bf9c-3e9e-8aa1-899fc14c3b09",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Set filename",
              "comments": ""
            },
            "destination": {
              "id": "88c3b8d2-7ea5-32f3-bb69-093f73bb8147",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "PutHDFS",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "08782170-5d86-300b-91a4-e8af25b2b28e",
            "name": "",
            "source": {
              "id": "50e39121-c6cd-3703-9ce1-91997f0caee2",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Drop tables",
              "comments": ""
            },
            "destination": {
              "id": "9ebf5a92-77b7-3306-b4a0-a14a730d4e89",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Create External Table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "f0d51bba-2510-3814-9fbe-2ab99e9c1836",
            "name": "",
            "source": {
              "id": "9584fe68-6bda-3228-848a-55314bfa2f7e",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Create external table",
              "comments": ""
            },
            "destination": {
              "id": "ea691354-7c66-339d-b517-668b49d9a5b3",
              "type": "PROCESSOR",
              "groupId": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4",
              "name": "Send Create Managed Table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          }
        ],
        "labels": [
          {
            "identifier": "1271d834-6c9d-3342-a141-3b49ef5f7166",
            "position": {
              "x": 616,
              "y": -72
            },
            "label": "Cleanup tables",
            "width": 440,
            "height": 848,
            "style": {
              "font-size": "18px"
            },
            "componentType": "LABEL",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "a8c47a31-9161-3059-8246-53fd42402f06",
            "position": {
              "x": 1088,
              "y": -72
            },
            "label": "Create tables",
            "width": 440,
            "height": 848,
            "style": {
              "font-size": "18px"
            },
            "componentType": "LABEL",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "d4aaa075-d5c4-3c8d-89ce-485cb4e47a89",
            "position": {
              "x": 144,
              "y": -80
            },
            "label": "API data > S3",
            "width": 448,
            "height": 856,
            "style": {
              "font-size": "18px"
            },
            "componentType": "LABEL",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          },
          {
            "identifier": "34d58220-d953-3438-9b59-fc15f99d39ca",
            "position": {
              "x": 1544,
              "y": -72
            },
            "label": "Create view",
            "width": 440,
            "height": 848,
            "style": {
              "font-size": "18px"
            },
            "componentType": "LABEL",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          }
        ],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "40bdd0ee-d071-3096-8344-f9727c219194",
            "name": "Hive3ConnectionPool",
            "comments": "",
            "type": "org.apache.nifi.dbcp.hive.Hive3ConnectionPool",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.dbcp.DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "1.11.4.2.0.3.0-13"
                }
              },
              {
                "type": "org.apache.nifi.dbcp.hive.HiveDBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-hive-services-api-nar",
                  "version": "1.11.4.2.0.3.0-13"
                }
              },
              {
                "type": "org.apache.nifi.dbcp.hive.Hive3DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-hive-services-api-nar",
                  "version": "1.11.4.2.0.3.0-13"
                }
              }
            ],
            "properties": {
              "dbcp-min-idle-conns": "0",
              "dbcp-min-evictable-idle-time": "30 mins",
              "hive-config-resources": null,
              "kerberos-credentials-service": null,
              "dbcp-max-conn-lifetime": "-1",
              "Validation-query": null,
              "Kerberos Keytab": null,
              "hive-max-total-connections": "8",
              "dbcp-time-between-eviction-runs": "-1",
              "hive-db-connect-url": "jdbc:hive2://[YOUR_CDW_ENDPOINT]/default;transportMode=http;httpPath=cliservice;ssl=true;retries=3",
              "Kerberos Principal": null,
              "dbcp-soft-min-evictable-idle-time": "-1",
              "hive-max-wait-time": "500 millis",
              "dbcp-max-idle-conns": "8",
              "hive-db-user": "pvidal"
            },
            "propertyDescriptors": {
              "dbcp-min-idle-conns": {
                "name": "dbcp-min-idle-conns",
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-db-password": {
                "name": "hive-db-password",
                "displayName": "Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "dbcp-min-evictable-idle-time": {
                "name": "dbcp-min-evictable-idle-time",
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-config-resources": {
                "name": "hive-config-resources",
                "displayName": "Hive Configuration Resources",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "kerberos-credentials-service": {
                "name": "kerberos-credentials-service",
                "displayName": "Kerberos Credentials Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "dbcp-max-conn-lifetime": {
                "name": "dbcp-max-conn-lifetime",
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Password": {
                "name": "Kerberos Password",
                "displayName": "Kerberos Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "Validation-query": {
                "name": "Validation-query",
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Keytab": {
                "name": "Kerberos Keytab",
                "displayName": "Kerberos Keytab",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-max-total-connections": {
                "name": "hive-max-total-connections",
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-time-between-eviction-runs": {
                "name": "dbcp-time-between-eviction-runs",
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-db-connect-url": {
                "name": "hive-db-connect-url",
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Principal": {
                "name": "Kerberos Principal",
                "displayName": "Kerberos Principal",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "name": "dbcp-soft-min-evictable-idle-time",
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-max-wait-time": {
                "name": "hive-max-wait-time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-max-idle-conns": {
                "name": "dbcp-max-idle-conns",
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-db-user": {
                "name": "hive-db-user",
                "displayName": "Database User",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "76fa9138-8a26-3a2a-9a3d-7591f27a94c4"
          }
        ],
        "variables": {},
        "componentType": "PROCESS_GROUP",
        "groupIdentifier": "9a3b49ac-a853-3b4e-b550-2a9007ee1b8d"
      },
      {
        "identifier": "95314908-d747-3f87-b9a2-599db19379ee",
        "name": "US Geocode Data",
        "comments": "",
        "position": {
          "x": 280,
          "y": 96
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "fd4ce919-2c25-31ab-8c43-2a53af7b3a67",
            "name": "PutHDFS",
            "comments": "",
            "position": {
              "x": 168,
              "y": 600
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hadoop-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hadoop.PutHDFS",
            "properties": {
              "Permissions umask": null,
              "Hadoop Configuration Resources": "/etc/hadoop/conf.cloudera.core_settings/core-site.xml",
              "Remote Owner": null,
              "Additional Classpath Resources": null,
              "Compression codec": "NONE",
              "IO Buffer Size": null,
              "Remote Group": null,
              "Block Size": null,
              "kerberos-credentials-service": null,
              "Kerberos Keytab": null,
              "Ignore Locality": "false",
              "Kerberos Principal": "pvidal",
              "Replication": null,
              "Kerberos Relogin Period": "4 hours",
              "Directory": "s3a://pvi-e2e-cdp-bucket/raw/geocodes_by_county/",
              "Conflict Resolution Strategy": "replace"
            },
            "propertyDescriptors": {
              "Permissions umask": {
                "name": "Permissions umask",
                "displayName": "Permissions umask",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Hadoop Configuration Resources": {
                "name": "Hadoop Configuration Resources",
                "displayName": "Hadoop Configuration Resources",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote Owner": {
                "name": "Remote Owner",
                "displayName": "Remote Owner",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Additional Classpath Resources": {
                "name": "Additional Classpath Resources",
                "displayName": "Additional Classpath Resources",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Compression codec": {
                "name": "Compression codec",
                "displayName": "Compression codec",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "IO Buffer Size": {
                "name": "IO Buffer Size",
                "displayName": "IO Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote Group": {
                "name": "Remote Group",
                "displayName": "Remote Group",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Block Size": {
                "name": "Block Size",
                "displayName": "Block Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "kerberos-credentials-service": {
                "name": "kerberos-credentials-service",
                "displayName": "Kerberos Credentials Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Kerberos Password": {
                "name": "Kerberos Password",
                "displayName": "Kerberos Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "Kerberos Keytab": {
                "name": "Kerberos Keytab",
                "displayName": "Kerberos Keytab",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Ignore Locality": {
                "name": "Ignore Locality",
                "displayName": "Ignore Locality",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Principal": {
                "name": "Kerberos Principal",
                "displayName": "Kerberos Principal",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replication": {
                "name": "Replication",
                "displayName": "Replication",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Relogin Period": {
                "name": "Kerberos Relogin Period",
                "displayName": "Kerberos Relogin Period",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Directory": {
                "name": "Directory",
                "displayName": "Directory",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Conflict Resolution Strategy": {
                "name": "Conflict Resolution Strategy",
                "displayName": "Conflict Resolution Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "c7d4daac-0052-3517-a5de-5ed82b85752a",
            "name": "Send Drop Tables",
            "comments": "",
            "position": {
              "x": 664,
              "y": 600
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "drop TABLE if exists worldwidebank.us_geocodes_by_county;\ndrop TABLE if exists worldwidebank.us_geocodes_by_county_ext;",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Regex Replace"
            },
            "propertyDescriptors": {
              "Regular Expression": {
                "name": "Regular Expression",
                "displayName": "Search Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Value": {
                "name": "Replacement Value",
                "displayName": "Replacement Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Evaluation Mode": {
                "name": "Evaluation Mode",
                "displayName": "Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Line-by-Line Evaluation Mode": {
                "name": "Line-by-Line Evaluation Mode",
                "displayName": "Line-by-Line Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Character Set": {
                "name": "Character Set",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Maximum Buffer Size": {
                "name": "Maximum Buffer Size",
                "displayName": "Maximum Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Strategy": {
                "name": "Replacement Strategy",
                "displayName": "Replacement Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "98ada91e-f2e1-3f85-90e5-b61bc5422a36",
            "name": "Create Managed Table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": 600
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hive.PutHive3QL",
            "properties": {
              "statement-delimiter": ";",
              "hive3-dbcp-service": "6f14420f-727d-35b2-86f3-3dfa037d752c",
              "hive3-query-timeout": "0",
              "hive3-charset": "UTF-8",
              "rollback-on-failure": "false",
              "hive-batch-size": "100"
            },
            "propertyDescriptors": {
              "statement-delimiter": {
                "name": "statement-delimiter",
                "displayName": "Statement Delimiter",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-dbcp-service": {
                "name": "hive3-dbcp-service",
                "displayName": "Hive Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "hive3-query-timeout": {
                "name": "hive3-query-timeout",
                "displayName": "Query timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-charset": {
                "name": "hive3-charset",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-batch-size": {
                "name": "hive-batch-size",
                "displayName": "Batch Size",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "success",
              "failure",
              "retry"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "a59031af-5dfc-312e-8859-62003ebffcb5",
            "name": "Set filename",
            "comments": "",
            "position": {
              "x": 168,
              "y": 256
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "properties": {
              "Delete Attributes Expression": null,
              "filename": "us_geocodes.csv",
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "filename": {
                "name": "filename",
                "displayName": "filename",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "69b4d45a-5a0e-3dda-b631-8ddb389842a0",
            "name": "Send Create External Table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": -24
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "CREATE EXTERNAL TABLE if not exists worldwidebank.us_geocodes_by_county_ext(\n    zip int,\n    primary_city string,\n    state string,\n    latitude int,\n    longitude int,\n    county string,\n    type string,\n    world_region string,\n    country string,\n    decommissioned string,\n    estimated_population string,\n    notes string)\nROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'\n\nWITH SERDEPROPERTIES (\n   \"separatorChar\" = \"\\\\,\",\n   \"quoteChar\"     = \"\\\\\"\"\n)\nSTORED AS TEXTFILE\nLOCATION 's3a://pvi-e2e-cdp-bucket/raw/geocodes_by_county/'\ntblproperties(\"skip.header.line.count\"=\"1\");",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Regex Replace"
            },
            "propertyDescriptors": {
              "Regular Expression": {
                "name": "Regular Expression",
                "displayName": "Search Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Value": {
                "name": "Replacement Value",
                "displayName": "Replacement Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Evaluation Mode": {
                "name": "Evaluation Mode",
                "displayName": "Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Line-by-Line Evaluation Mode": {
                "name": "Line-by-Line Evaluation Mode",
                "displayName": "Line-by-Line Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Character Set": {
                "name": "Character Set",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Maximum Buffer Size": {
                "name": "Maximum Buffer Size",
                "displayName": "Maximum Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Strategy": {
                "name": "Replacement Strategy",
                "displayName": "Replacement Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "277b7b16-b15f-3156-ac2f-ec8bc44cf350",
            "name": "Drop tables",
            "comments": "",
            "position": {
              "x": 664,
              "y": -24
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hive.PutHive3QL",
            "properties": {
              "statement-delimiter": ";",
              "hive3-dbcp-service": "6f14420f-727d-35b2-86f3-3dfa037d752c",
              "hive3-query-timeout": "0",
              "hive3-charset": "UTF-8",
              "rollback-on-failure": "false",
              "hive-batch-size": "100"
            },
            "propertyDescriptors": {
              "statement-delimiter": {
                "name": "statement-delimiter",
                "displayName": "Statement Delimiter",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-dbcp-service": {
                "name": "hive3-dbcp-service",
                "displayName": "Hive Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "hive3-query-timeout": {
                "name": "hive3-query-timeout",
                "displayName": "Query timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-charset": {
                "name": "hive3-charset",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-batch-size": {
                "name": "hive-batch-size",
                "displayName": "Batch Size",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure",
              "retry"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "df72523a-630d-328b-86a1-d585c6df2954",
            "name": "Send Create Managed Table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": 368
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.ReplaceText",
            "properties": {
              "Regular Expression": "(?s)(^.*$)",
              "Replacement Value": "create table worldwidebank.us_geocodes_by_county as select * from worldwidebank.us_geocodes_by_county_ext;",
              "Evaluation Mode": "Entire text",
              "Line-by-Line Evaluation Mode": "All",
              "Character Set": "UTF-8",
              "Maximum Buffer Size": "1 MB",
              "Replacement Strategy": "Regex Replace"
            },
            "propertyDescriptors": {
              "Regular Expression": {
                "name": "Regular Expression",
                "displayName": "Search Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Value": {
                "name": "Replacement Value",
                "displayName": "Replacement Value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Evaluation Mode": {
                "name": "Evaluation Mode",
                "displayName": "Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Line-by-Line Evaluation Mode": {
                "name": "Line-by-Line Evaluation Mode",
                "displayName": "Line-by-Line Evaluation Mode",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Character Set": {
                "name": "Character Set",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Maximum Buffer Size": {
                "name": "Maximum Buffer Size",
                "displayName": "Maximum Buffer Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Replacement Strategy": {
                "name": "Replacement Strategy",
                "displayName": "Replacement Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "44115299-953a-3a2d-84ff-ea39d93860f4",
            "name": "Create external table",
            "comments": "",
            "position": {
              "x": 1144,
              "y": 168
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.hive.PutHive3QL",
            "properties": {
              "statement-delimiter": ";",
              "hive3-dbcp-service": "6f14420f-727d-35b2-86f3-3dfa037d752c",
              "hive3-query-timeout": "0",
              "hive3-charset": "UTF-8",
              "rollback-on-failure": "false",
              "hive-batch-size": "100"
            },
            "propertyDescriptors": {
              "statement-delimiter": {
                "name": "statement-delimiter",
                "displayName": "Statement Delimiter",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-dbcp-service": {
                "name": "hive3-dbcp-service",
                "displayName": "Hive Database Connection Pooling Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "hive3-query-timeout": {
                "name": "hive3-query-timeout",
                "displayName": "Query timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive3-charset": {
                "name": "hive3-charset",
                "displayName": "Character Set",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "rollback-on-failure": {
                "name": "rollback-on-failure",
                "displayName": "Rollback On Failure",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-batch-size": {
                "name": "hive-batch-size",
                "displayName": "Batch Size",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "failure",
              "retry"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "d8fea91b-3118-3ccf-bd6d-d01666f309d3",
            "name": "Get US CSV data",
            "comments": "",
            "position": {
              "x": 168,
              "y": -24
            },
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "style": {},
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "https://data.healthcare.gov/api/views/52wv-g36k/rows.csv?accessType=DOWNLOAD&api_foundry=true",
              "Content-Type": "${mime.type}",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "GET",
              "Add Response Headers to Request": "false",
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false"
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Attributes to Send",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Use HTTP ETag",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Basic Authentication Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Connection Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Send Message Body",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Always Output Response",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Maximum ETag Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Put Response Body In Attribute",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Use Chunked Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Follow Redirects",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "Remote URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Max Length To Put In Attribute",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Ignore response's content",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Use Digest Authentication",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Add Response Headers to Request",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Basic Authentication Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Include Date Header",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Penalize on \"No Retry\"",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "schedulingPeriod": "24 hours",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "PRIMARY",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "componentType": "PROCESSOR",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "408e9c4d-d318-3815-adb9-a9824a00f00e",
            "name": "",
            "source": {
              "id": "c7d4daac-0052-3517-a5de-5ed82b85752a",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Send Drop Tables",
              "comments": ""
            },
            "destination": {
              "id": "277b7b16-b15f-3156-ac2f-ec8bc44cf350",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Drop tables",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "8606b44f-0749-37fd-bec6-5dadacf6658d",
            "name": "",
            "source": {
              "id": "277b7b16-b15f-3156-ac2f-ec8bc44cf350",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Drop tables",
              "comments": ""
            },
            "destination": {
              "id": "69b4d45a-5a0e-3dda-b631-8ddb389842a0",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Send Create External Table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "f8304701-7ba0-3b78-b475-9843511c6d0b",
            "name": "",
            "source": {
              "id": "fd4ce919-2c25-31ab-8c43-2a53af7b3a67",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "PutHDFS",
              "comments": ""
            },
            "destination": {
              "id": "c7d4daac-0052-3517-a5de-5ed82b85752a",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Send Drop Tables",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "9a94a192-4879-32d3-bed8-3bc84f5d1287",
            "name": "",
            "source": {
              "id": "44115299-953a-3a2d-84ff-ea39d93860f4",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Create external table",
              "comments": ""
            },
            "destination": {
              "id": "df72523a-630d-328b-86a1-d585c6df2954",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Send Create Managed Table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "1def69be-2201-3419-87e5-2433ef5b6190",
            "name": "",
            "source": {
              "id": "d8fea91b-3118-3ccf-bd6d-d01666f309d3",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Get US CSV data",
              "comments": ""
            },
            "destination": {
              "id": "a59031af-5dfc-312e-8859-62003ebffcb5",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Set filename",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "Response"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "c667443b-f982-3684-b179-9dcc2c07c7ef",
            "name": "",
            "source": {
              "id": "69b4d45a-5a0e-3dda-b631-8ddb389842a0",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Send Create External Table",
              "comments": ""
            },
            "destination": {
              "id": "44115299-953a-3a2d-84ff-ea39d93860f4",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Create external table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "c98ad95a-e35e-333c-9af5-a1bdbf575038",
            "name": "",
            "source": {
              "id": "df72523a-630d-328b-86a1-d585c6df2954",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Send Create Managed Table",
              "comments": ""
            },
            "destination": {
              "id": "98ada91e-f2e1-3f85-90e5-b61bc5422a36",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Create Managed Table",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "18ab41d9-ad48-3625-a789-45d3a4ef79ef",
            "name": "",
            "source": {
              "id": "a59031af-5dfc-312e-8859-62003ebffcb5",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "Set filename",
              "comments": ""
            },
            "destination": {
              "id": "fd4ce919-2c25-31ab-8c43-2a53af7b3a67",
              "type": "PROCESSOR",
              "groupId": "95314908-d747-3f87-b9a2-599db19379ee",
              "name": "PutHDFS",
              "comments": ""
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          }
        ],
        "labels": [
          {
            "identifier": "8d00e5f5-4cf2-3577-9674-3fe39abac9dd",
            "position": {
              "x": 1088,
              "y": -72
            },
            "label": "Create tables",
            "width": 440,
            "height": 848,
            "style": {
              "font-size": "18px"
            },
            "componentType": "LABEL",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "cc9891b6-664f-3657-afc9-ab06a80d9b8e",
            "position": {
              "x": 616,
              "y": -72
            },
            "label": "Cleanup tables",
            "width": 440,
            "height": 848,
            "style": {
              "font-size": "18px"
            },
            "componentType": "LABEL",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "25eca3ea-9a4a-31c5-a11b-cdec8f3d7599",
            "position": {
              "x": 144,
              "y": -80
            },
            "label": "API data > S3",
            "width": 448,
            "height": 856,
            "style": {
              "font-size": "18px"
            },
            "componentType": "LABEL",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          }
        ],
        "funnels": [],
        "controllerServices": [
          {
            "identifier": "6f14420f-727d-35b2-86f3-3dfa037d752c",
            "name": "Hive3ConnectionPool",
            "comments": "",
            "type": "org.apache.nifi.dbcp.hive.Hive3ConnectionPool",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-hive3-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.dbcp.DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "1.11.4.2.0.3.0-13"
                }
              },
              {
                "type": "org.apache.nifi.dbcp.hive.HiveDBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-hive-services-api-nar",
                  "version": "1.11.4.2.0.3.0-13"
                }
              },
              {
                "type": "org.apache.nifi.dbcp.hive.Hive3DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-hive-services-api-nar",
                  "version": "1.11.4.2.0.3.0-13"
                }
              }
            ],
            "properties": {
              "dbcp-min-idle-conns": "0",
              "dbcp-min-evictable-idle-time": "30 mins",
              "hive-config-resources": null,
              "kerberos-credentials-service": null,
              "dbcp-max-conn-lifetime": "-1",
              "Validation-query": null,
              "Kerberos Keytab": null,
              "hive-max-total-connections": "8",
              "dbcp-time-between-eviction-runs": "-1",
              "hive-db-connect-url": "jdbc:hive2://[YOUR_CDW_ENDPOINT]/default;transportMode=http;httpPath=cliservice;ssl=true;retries=3",
              "Kerberos Principal": null,
              "dbcp-soft-min-evictable-idle-time": "-1",
              "hive-max-wait-time": "500 millis",
              "dbcp-max-idle-conns": "8",
              "hive-db-user": "pvidal"
            },
            "propertyDescriptors": {
              "dbcp-min-idle-conns": {
                "name": "dbcp-min-idle-conns",
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-db-password": {
                "name": "hive-db-password",
                "displayName": "Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "dbcp-min-evictable-idle-time": {
                "name": "dbcp-min-evictable-idle-time",
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-config-resources": {
                "name": "hive-config-resources",
                "displayName": "Hive Configuration Resources",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "kerberos-credentials-service": {
                "name": "kerberos-credentials-service",
                "displayName": "Kerberos Credentials Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "dbcp-max-conn-lifetime": {
                "name": "dbcp-max-conn-lifetime",
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Password": {
                "name": "Kerberos Password",
                "displayName": "Kerberos Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "Validation-query": {
                "name": "Validation-query",
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Keytab": {
                "name": "Kerberos Keytab",
                "displayName": "Kerberos Keytab",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-max-total-connections": {
                "name": "hive-max-total-connections",
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-time-between-eviction-runs": {
                "name": "dbcp-time-between-eviction-runs",
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-db-connect-url": {
                "name": "hive-db-connect-url",
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Kerberos Principal": {
                "name": "Kerberos Principal",
                "displayName": "Kerberos Principal",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "name": "dbcp-soft-min-evictable-idle-time",
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-max-wait-time": {
                "name": "hive-max-wait-time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-max-idle-conns": {
                "name": "dbcp-max-idle-conns",
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "hive-db-user": {
                "name": "hive-db-user",
                "displayName": "Database User",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          },
          {
            "identifier": "cd3d810d-b2e9-3ec4-b480-6335095a215b",
            "name": "DBCPConnectionPool",
            "comments": "",
            "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-dbcp-service-nar",
              "version": "1.11.4.2.0.3.0-13"
            },
            "controllerServiceApis": [
              {
                "type": "org.apache.nifi.dbcp.DBCPService",
                "bundle": {
                  "group": "org.apache.nifi",
                  "artifact": "nifi-standard-services-api-nar",
                  "version": "1.11.4.2.0.3.0-13"
                }
              }
            ],
            "properties": {
              "dbcp-min-idle-conns": "0",
              "Max Wait Time": "500 millis",
              "Database Driver Class Name": "org.apache.hive.jdbc.HiveDriver",
              "dbcp-min-evictable-idle-time": "30 mins",
              "kerberos-principal": null,
              "Max Total Connections": "8",
              "kerberos-credentials-service": null,
              "dbcp-max-conn-lifetime": "-1",
              "Validation-query": null,
              "Database Connection URL": "jdbc:hive2://[YOUR_CDW_ENDPOINT]/worldwidebank;transportMode=http;httpPath=cliservice;ssl=true;retries=3",
              "dbcp-time-between-eviction-runs": "-1",
              "Database User": "pvidal",
              "dbcp-soft-min-evictable-idle-time": "-1",
              "database-driver-locations": "/tmp/hive-jdbc-3.1.0-SNAPSHOT-standalone.jar",
              "dbcp-max-idle-conns": "8"
            },
            "propertyDescriptors": {
              "kerberos-password": {
                "name": "kerberos-password",
                "displayName": "Kerberos Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "dbcp-min-idle-conns": {
                "name": "dbcp-min-idle-conns",
                "displayName": "Minimum Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Wait Time": {
                "name": "Max Wait Time",
                "displayName": "Max Wait Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Database Driver Class Name": {
                "name": "Database Driver Class Name",
                "displayName": "Database Driver Class Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-min-evictable-idle-time": {
                "name": "dbcp-min-evictable-idle-time",
                "displayName": "Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "kerberos-principal": {
                "name": "kerberos-principal",
                "displayName": "Kerberos Principal",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Total Connections": {
                "name": "Max Total Connections",
                "displayName": "Max Total Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "kerberos-credentials-service": {
                "name": "kerberos-credentials-service",
                "displayName": "Kerberos Credentials Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "dbcp-max-conn-lifetime": {
                "name": "dbcp-max-conn-lifetime",
                "displayName": "Max Connection Lifetime",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Validation-query": {
                "name": "Validation-query",
                "displayName": "Validation query",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Database Connection URL": {
                "name": "Database Connection URL",
                "displayName": "Database Connection URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-time-between-eviction-runs": {
                "name": "dbcp-time-between-eviction-runs",
                "displayName": "Time Between Eviction Runs",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Database User": {
                "name": "Database User",
                "displayName": "Database User",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-soft-min-evictable-idle-time": {
                "name": "dbcp-soft-min-evictable-idle-time",
                "displayName": "Soft Minimum Evictable Idle Time",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "database-driver-locations": {
                "name": "database-driver-locations",
                "displayName": "Database Driver Location(s)",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "dbcp-max-idle-conns": {
                "name": "dbcp-max-idle-conns",
                "displayName": "Max Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Password": {
                "name": "Password",
                "displayName": "Password",
                "identifiesControllerService": false,
                "sensitive": true
              }
            },
            "componentType": "CONTROLLER_SERVICE",
            "groupIdentifier": "95314908-d747-3f87-b9a2-599db19379ee"
          }
        ],
        "variables": {},
        "componentType": "PROCESS_GROUP",
        "groupIdentifier": "9a3b49ac-a853-3b4e-b550-2a9007ee1b8d"
      }
    ],
    "remoteProcessGroups": [],
    "processors": [],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "e1b542bf-8b28-3fa8-a08b-26b2b64cf90b",
        "name": "Default NiFi SSL Context Service",
        "type": "org.apache.nifi.ssl.StandardRestrictedSSLContextService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-ssl-context-service-nar",
          "version": "1.11.4.2.0.3.0-13"
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.ssl.RestrictedSSLContextService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.11.4.2.0.3.0-13"
            }
          },
          {
            "type": "org.apache.nifi.ssl.SSLContextService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.11.4.2.0.3.0-13"
            }
          }
        ],
        "properties": {
          "Truststore Type": "JKS",
          "SSL Protocol": "TLS",
          "Keystore Type": "JKS",
          "Truststore Filename": "/var/lib/nifi/cm-auto-in_cluster_truststore.jks",
          "Keystore Filename": "/var/lib/nifi/cm-auto-host_keystore.jks"
        },
        "propertyDescriptors": {
          "Truststore Type": {
            "name": "Truststore Type",
            "displayName": "Truststore Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Protocol": {
            "name": "SSL Protocol",
            "displayName": "TLS Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Keystore Type": {
            "name": "Keystore Type",
            "displayName": "Keystore Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Truststore Filename": {
            "name": "Truststore Filename",
            "displayName": "Truststore Filename",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Keystore Password": {
            "name": "Keystore Password",
            "displayName": "Keystore Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "key-password": {
            "name": "key-password",
            "displayName": "Key Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Truststore Password": {
            "name": "Truststore Password",
            "displayName": "Truststore Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Keystore Filename": {
            "name": "Keystore Filename",
            "displayName": "Keystore Filename",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "9a3b49ac-a853-3b4e-b550-2a9007ee1b8d"
      }
    ],
    "variables": {},
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0"
}